/* Estilos personalizados para las cards de servicios */
.service-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-icon {
    font-size: 2.5rem;
    color: #00b300;
    margin-bottom: 10px;
}

.service-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 15px;
}

.service-description {
    font-size: 1.3rem;
    color: #555;
}


/* Estilos para la tabla de precios */
.pricing-table {
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    font-family: 'Arial', sans-serif; /* Cambiamos la fuente */
    width: 100%; /* Ancho completo del contenedor */
}

.table-header th {
    background-color: #00b300;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem; /* Tamaño de fuente más grande */
    border: none;
    padding: 25px; /* Aumentamos el padding para más espacio */
}

.table-header th,
.pricing-table td {
    padding: 25px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.pricing-table td {
    font-size: 1.2rem; /* Tamaño de fuente más grande */
    font-weight: 600;
    position: relative;
}

.pricing-table td i {
    color: #00b300;
    margin-right: 5px;
}

.pricing-table td::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 179, 0, 0.1);
    z-index: -1;
    border-radius: 10px;
}

.pricing-table td:hover {
    background-color: #00b300;
    color: #fff;
}

.pricing-table td:hover i {
    color: #fff;
}
.title-cell {
    font-size: 1.2rem; /* Ajusta el tamaño según tu preferencia */
}


/* MODAL */

/* Custom styles for the modal */
.modal-content {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: none;
}

.modal-title {
    color: #333;
    font-size: 24px;
}

.modal-body {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

.modal-footer {
    background-color: #f8f9fa;
    border-top: none;
}

.modal-footer button {
    color: #fff;
    background-color: #007bff;
}

.modal-footer button:hover {
    background-color: #0056b3;
}

/* Adjust spacing */
.modal-dialog {
    margin-top: 80px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
        margin: 80px auto;
    }
}




/* carrusel */
.testimonial-section {
    background-image: url("../assets/images/banner\ 1.webp");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: center;
}

.testimonial-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.testimonial-slide {
    display: none;
}

.testimonial-content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
}

.client-name {
    margin-top: 10px;
}

.carousel-nav {
    margin-top: 20px;
}

.carousel-nav button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

/* Agregar estilos adicionales según sea necesario */

